
<div id="tab2" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				
				 <tr>
					<th>Posted On</th>
					<th>Title</th>
					<th>Posted by</th>
					<th>Category</th>
					<th>Status</th>
					<th>actions </th>
				</tr>
			</thead> 
			<tbody> 
				
			  <% for post in @posts %>
				<tr>
					<td><%= post.created_at %> </td>
					<td><%= h(post.title) %></td>
					<td><%= h(post.author.full_name) if post.author %></td>
					<td><%= post.categories.collect {|cat| cat.name }.join(", ") %></td>
					<td><%= h(post.status) %></td>
					<td><%= link_to(image_tag('icn_edit.png'), :controller =>'posts',:action => 'edit', :id => post) %>
						<%= button_to  'delete', {:controller => :posts,
						
			         	:confirm => 'Are you sure you want to remove this post?',
			            :action => 'destroy', :id => post.id },
			            :method => 'delete' %>		
			        </td>

				</tr>

  			  <% end %>
			</tbody> 
			</table>
</div><!-- end of #tab1 -->